{{>licenseInfo}}
package {{package}};

import {{invokerPackage}}.ApiClient;
import {{invokerPackage}}.ApiException;
import {{invokerPackage}}.ApiResponse;
import {{modelPackage}}.*;
import {{invokerPackage}}.Pair;

{{#imports}}import {{import}};
{{/imports}}

import io.helidon.common.http.Http;
import io.helidon.common.http.MediaType;
import io.helidon.webclient.WebClient;
import io.helidon.webclient.WebClientRequestBuilder;
import io.helidon.webclient.WebClientRequestHeaders;
import io.helidon.webclient.WebClientResponse;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.time.Duration;
import java.util.function.Consumer;
import java.util.function.Supplier;

{{^fullJavaUtil}}
import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
{{/fullJavaUtil}}

{{#helidonAsync}}
import io.helidon.common.reactive.Single;
import java.util.concurrent.CompletableFuture;
{{/helidonAsync}}

import java.util.concurrent.ExecutionException;

{{>generatedAnnotation}}
{{#operations}}
public class {{classname}} {

  private final WebClient memberVarWebClient;
  private final String memberVarBaseUri;
  private final Consumer<WebClientRequestBuilder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<WebClientResponse> memberVarResponseInterceptor;

  public {{classname}}() {
    this(new ApiClient());
  }

  public {{classname}}(ApiClient apiClient) {
    memberVarWebClient = apiClient.getWebClient();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
  }
  {{#helidonAsync}}

  private ApiException getApiException(String operationId, WebClientResponse localVarResponse) throws ExecutionException, InterruptedException {
    return new ApiException(localVarResponse.status().code(),
        operationId + " call received non-success response",
        localVarResponse.headers(),
        localVarResponse.content().as(String.class).get());
  }
  {{/helidonAsync}}

  protected ApiException createApiException(WebClientResponse response, String msgPrefix) throws IOException, ExecutionException, InterruptedException {
    String body = response.content().as(String.class).get();
    if (!body.isEmpty()) {
      msgPrefix += ": " + body;
    }
    return new ApiException(response.status().code(), msgPrefix, response.headers(), body);
  }

  {{#operation}}
  {{#vendorExtensions.x-group-parameters}}
  {{#hasParams}}
  /**
   * {{summary}}
   * {{notes}}
   * @param apiRequest {@link API{{operationId}}Request}
   {{#returnType}}
   * @return {{#helidonAsync}}CompletableFuture&lt;{{/helidonAsync}}{{returnType}}{{#helidonAsync}}&gt;{{/helidonAsync}}
   {{/returnType}}
   * @throws ApiException if fails to make API call
   {{#isDeprecated}}
   * @deprecated
   {{/isDeprecated}}
   {{#externalDocs}}
   * {{description}}
   * @see <a href="{{url}}">{{summary}} Documentation</a>
   {{/externalDocs}}
   */
  {{#isDeprecated}}
  @Deprecated
  {{/isDeprecated}}
  public {{#returnType}}{{#helidonAsync}}CompletableFuture<{{{returnType}}}>{{/helidonAsync}}{{^helidonAsync}}{{{returnType}}}{{/helidonAsync}}{{/returnType}}{{^returnType}}{{#helidonAsync}}CompletableFuture<Void>{{/helidonAsync}}{{^helidonAsync}}void{{/helidonAsync}}{{/returnType}} {{operationId}}(API{{operationId}}Request apiRequest) throws ApiException {
    {{#allParams}}
    {{{dataType}}} {{paramName}} = apiRequest.{{paramName}}();
    {{/allParams}}
    {{#returnType}}return {{/returnType}}{{^returnType}}{{#helidonAsync}}return {{/helidonAsync}}{{/returnType}}{{operationId}}({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}});
  }

  /**
   * {{summary}}
   * {{notes}}
   * @param apiRequest {@link API{{operationId}}Request}
   * @return {{#helidonAsync}}CompletableFuture&lt;{{/helidonAsync}}ApiResponse&lt;{{#returnType}}{{returnType}}{{/returnType}}{{^returnType}}Void{{/returnType}}&gt;{{#helidonAsync}}&gt;{{/helidonAsync}}
   * @throws ApiException if fails to make API call
   {{#isDeprecated}}
   * @deprecated
   {{/isDeprecated}}
   {{#externalDocs}}
   * {{description}}
   * @see <a href="{{url}}">{{summary}} Documentation</a>
   {{/externalDocs}}
   */
  {{#isDeprecated}}
  @Deprecated
  {{/isDeprecated}}
  public {{#helidonAsync}}CompletableFuture<{{/helidonAsync}}ApiResponse<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Void{{/returnType}}>{{#helidonAsync}}>{{/helidonAsync}} {{operationId}}WithHttpInfo(API{{operationId}}Request apiRequest) throws ApiException {
    {{#allParams}}
    {{{dataType}}} {{paramName}} = apiRequest.{{paramName}}();
    {{/allParams}}
    return {{operationId}}WithHttpInfo({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}});
  }

  {{/hasParams}}
  {{/vendorExtensions.x-group-parameters}}
  /**
   * {{summary}}
   * {{notes}}
   {{#allParams}}
   * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{^isContainer}}{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/isContainer}}{{/required}}
   {{/allParams}}
   {{#returnType}}
   * @return {{#helidonAsync}}CompletableFuture&lt;{{/helidonAsync}}{{returnType}}{{#helidonAsync}}&gt;{{/helidonAsync}}
   {{/returnType}}
   * @throws ApiException if fails to make API call
   {{#isDeprecated}}
   * @deprecated
   {{/isDeprecated}}
   {{#externalDocs}}
   * {{description}}
   * @see <a href="{{url}}">{{summary}} Documentation</a>
   {{/externalDocs}}
   */
  {{#isDeprecated}}
  @Deprecated
  {{/isDeprecated}}
  public {{#returnType}}{{#helidonAsync}}CompletableFuture<{{{returnType}}}>{{/helidonAsync}}{{^helidonAsync}}{{{returnType}}}{{/helidonAsync}}{{/returnType}}{{^returnType}}{{#helidonAsync}}CompletableFuture<Void>{{/helidonAsync}}{{^helidonAsync}}void{{/helidonAsync}}{{/returnType}} {{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/allParams}}) throws ApiException {
    {{^helidonAsync}}
    {{#returnType}}ApiResponse<{{{returnType}}}> localVarResponse = {{/returnType}}{{operationId}}WithHttpInfo({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}});
    {{#returnType}}
    return localVarResponse.getData();
    {{/returnType}}
    {{/helidonAsync}}
    {{#helidonAsync}}
    return {{operationId}}WithHttpInfo({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}}).thenApply(ApiResponse::getData);
    {{/helidonAsync}}
  }

  /**
   * {{summary}}
   * {{notes}}
   {{#allParams}}
   * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{^isContainer}}{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/isContainer}}{{/required}}
   {{/allParams}}
   * @return {{#helidonAsync}}CompletableFuture&lt;{{/helidonAsync}}ApiResponse&lt;{{#returnType}}{{returnType}}{{/returnType}}{{^returnType}}Void{{/returnType}}&gt;{{#helidonAsync}}&gt;{{/helidonAsync}}
   * @throws ApiException if fails to make API call
   {{#isDeprecated}}
   * @deprecated
   {{/isDeprecated}}
   {{#externalDocs}}
   * {{description}}
   * @see <a href="{{url}}">{{summary}} Documentation</a>
   {{/externalDocs}}
   */
  {{#isDeprecated}}
  @Deprecated
  {{/isDeprecated}}
  public {{#helidonAsync}}CompletableFuture<{{/helidonAsync}}ApiResponse<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Void{{/returnType}}>{{#helidonAsync}}>{{/helidonAsync}} {{operationId}}WithHttpInfo({{#allParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/allParams}}) throws ApiException {
    {{^helidonAsync}}
    WebClientRequestBuilder localVarRequestBuilder = {{operationId}}RequestBuilder({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}});
    try {
        WebClientResponse localVarResponse = localVarRequestBuilder.submit({{#bodyParam}}{{paramName}}{{/bodyParam}}).await();
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.status().family().compareTo(Http.ResponseStatus.Family.SUCCESSFUL) != 0) {
        throw createApiException(localVarResponse, "{{operationId}} call received non-success response");
      }
      return new ApiResponse<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Void{{/returnType}}>(
          localVarResponse.status().code(),
          localVarResponse.headers().toMap(),
        {{#returnType}}localVarResponse.content().as({{returnType}}.class).get(){{/returnType}}{{^returnType}}null{{/returnType}}
        );
    } catch (IOException | ExecutionException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
    {{/helidonAsync}}
    {{#helidonAsync}}
    try {
      WebClientRequestBuilder localVarRequestBuilder = {{operationId}}RequestBuilder({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}});
      return localVarRequestBuilder.submit({{#bodyParam}}{{paramName}}{{/bodyParam}})
        .thenComposeAsync(localVarResponse -> {
          try {
            if (localVarResponse.status().family().compareTo(Http.ResponseStatus.Family.SUCCESSFUL) != 0) {
              return CompletableFuture.failedFuture(getApiException("{{operationId}}", localVarResponse));
            }
            {{#returnType}}
            return CompletableFuture.completedFuture(
              new ApiResponse<{{{returnType}}}>(
                localVarResponse.status().code(),
                localVarResponse.headers().toMap(),
                localVarResponse.content().as({{returnType}}.class).get()
                )
              );
            {{/returnType}}
            {{^returnType}}
            return CompletableFuture.completedFuture(
              new ApiResponse<Void>(localVarResponse.status().code(), localVarResponse.headers().toMap(), null)
              );
            {{/returnType}}
          } catch (ExecutionException | InterruptedException e) {
            return CompletableFuture.failedFuture(new ApiException(e));
          }
        }).toCompletableFuture();
    } catch (ApiException e) {
      return CompletableFuture.failedFuture(e);
    }
    {{/helidonAsync}}
  }

  private WebClientRequestBuilder {{operationId}}RequestBuilder({{#allParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/allParams}}) throws ApiException {
    {{#allParams}}
    {{#required}}
    // verify the required parameter '{{paramName}}' is set
    if ({{paramName}} == null) {
      throw new ApiException(400, "Missing the required parameter '{{paramName}}' when calling {{operationId}}");
    }
    {{/required}}
    {{/allParams}}

    WebClientRequestBuilder localVarRequestBuilder = memberVarWebClient.method("{{httpMethod}}");

    {{! Switch delimiters for baseName so we can write constants like "{query}" }}
    String localVarPath = "{{{path}}}"{{#pathParams}}
        .replace({{=<% %>=}}"{<%baseName%>}"<%={{ }}=%>, ApiClient.urlEncode({{{paramName}}}.toString())){{/pathParams}};

    localVarRequestBuilder.path(localVarPath);

    {{#hasQueryParams}}
    {{javaUtilPrefix}}List<Pair> localVarQueryParams = new {{javaUtilPrefix}}ArrayList<>();
    {{#queryParams}}
      {{#collectionFormat}}
    localVarQueryParams.addAll(ApiClient.parameterToPairs("{{{collectionFormat}}}", "{{baseName}}", {{paramName}}));
      {{/collectionFormat}}
      {{^collectionFormat}}
        {{#isDeepObject}}
    if ({{paramName}} != null) {
          {{#items.vars}}
      localVarQueryParams.addAll(ApiClient.parameterToPairs("{{baseName}}", {{paramName}}.{{getter}}()));
          {{/items.vars}}
    }
        {{/isDeepObject}}
        {{^isDeepObject}}
    localVarQueryParams.addAll(ApiClient.parameterToPairs("{{baseName}}", {{paramName}}));
        {{/isDeepObject}}
      {{/collectionFormat}}
    {{/queryParams}}

    if (!localVarQueryParams.isEmpty()) {
      localVarQeuryParams.forEach(p -> localVarRequestBuilder.queryParam(p.getName(), p.getValue()));
    }
    {{/hasQueryParams}}

    WebClientRequestHeaders localVarRequestHeaders = localVarRequestBuilder.headers();
    {{#headerParams}}
    if ({{paramName}} != null) {
      localVarRequestHeaders.put("{{baseName}}", {{paramName}}.toString());
    }

    {{/headerParams}}
    {{#bodyParam}}
    localVarRequestBuilder.contentType(MediaType.APPLICATION_JSON);
    {{/bodyParam}}
    localVarRequestBuilder.accept(MediaType.APPLICATION_JSON);

    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.readTimeout(memberVarReadTimeout.toMillis(), java.util.concurrent.TimeUnit.MILLISECONDS);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  {{#vendorExtensions.x-group-parameters}}
  {{#hasParams}}

  public static final class API{{operationId}}Request {
    {{#requiredParams}}
    private {{{dataType}}} {{paramName}}; // {{description}} (required)
    {{/requiredParams}}
    {{#optionalParams}}
    private {{{dataType}}} {{paramName}}; // {{description}} (optional{{^isContainer}}{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/isContainer}}
    {{/optionalParams}}

    private API{{operationId}}Request(Builder builder) {
      {{#requiredParams}}
      this.{{paramName}} = builder.{{paramName}};
      {{/requiredParams}}
      {{#optionalParams}}
      this.{{paramName}} = builder.{{paramName}};
      {{/optionalParams}}
    }
    {{#allParams}}
    public {{{dataType}}} {{paramName}}() {
      return {{paramName}};
    }
    {{/allParams}}
    public static Builder newBuilder() {
      return new Builder();
    }

    public static class Builder {
      {{#requiredParams}}
      private {{{dataType}}} {{paramName}};
      {{/requiredParams}}
      {{#optionalParams}}
      private {{{dataType}}} {{paramName}};
      {{/optionalParams}}

      {{#allParams}}
      public Builder {{paramName}}({{{dataType}}} {{paramName}}) {
        this.{{paramName}} = {{paramName}};
        return this;
      }
      {{/allParams}}
      public API{{operationId}}Request build() {
        return new API{{operationId}}Request(this);
      }
    }
  }

  {{/hasParams}}
  {{/vendorExtensions.x-group-parameters}}
  {{/operation}}
}
{{/operations}}
